<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projsetnic">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".renewal"></activity>
        <activity android:name=".packchange"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".mypage"></activity>
        <activity android:name=".singledate"></activity>
        <activity android:name=".multipledates"></activity>
        <activity android:name=".renewalLogin"></activity>
        <activity android:name=".amountwithdrawn"></activity>
    </application>

</manifest>